/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-Face */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito'), url('/fonts/nunito-v26-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Emoji'), url('/fonts/noto-emoji-custom.woff2') format('woff2');
}

/* Body */
body {
  font-family: 'Nunito', 'Noto Emoji';
}
